.btn{
  border-style: solid;
  border-color: #17a2b8;
}
.a1{
  font-size: 6rem;
  line-height: 7.1875rem;
  color: white;
  text-decoration: none;
}
.a1:hover{
  color: red;
}
.a2{
  font-size: 1.125rem;
  line-height: 2rem;
  color: #888;
  text-decoration: none;
}
.vs{
  width: 50px;
  border-style: solid;
  border-color: red;
  border-width: 3px;
  display: inline-block;
  color: aliceblue;
  margin-right: 20px;
  background-color: #2e3233;
  margin-bottom: 10px;
}
.vs2{
  width: 50px;
  border-style: solid;
  border-color: red;
  border-width: 3px;
  color: aliceblue;
  margin-right: 20px;
  background-color: #2e3233;
  margin-bottom: 10px;
}
#input1,#new{
  border-color: red;
  border-style: solid;
  border-width: 1px;
  margin-left: 24%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  border-radius: 5px;
  width: 50%;
  height: 8%;
  display: inline-block;
  margin-right: 50px;
}
input,button{
  width: 70px;
  height: 40px;
  font-size: 20px;
  border: none;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
}
.x{
width: 70px;
height: 40px;
font-size: 15px;
border: none;
margin-left: 15px;
margin-right: 250px;
margin-top: 33px;
border-radius: 5px;
background-color: #181c1d;
border: #10c9e6 solid 1px;
color: #10c9e6;
float: right;
}
.x:hover{
  background-color: #10c9e6;
  color: #181c1d;
}